<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tobias Eriksson</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		{% block content %} {% endblock %}

		<footer id="footer" class="footer">
			<div class="container is-max-desktop">
				This web site was made using <a href="https://getzola.com">Zola</a> and <a href="https://bulma.io/">Bulma</a> and is available on <a href="https://github.com/snosscire">GitHub</a>.
			</div>
		</footer>
	</body>

</html>